<!-- Banner -->		
<section id="banner">
    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        <header>
            <h2>OpServ</h2>
        </header>
        <p>
			Welcome to <strong>OpServ monitoring</strong>,
      	  	<br/>
        	a free cross-plattform
        	<br/>
        	monitoring solution
		</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>
    </div>
</section>