<header id="header">
				<h1 id="logo"><img src="/favicon/favicon-16x16.png"><a href="/">OpServ monitoring</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/get-started">Get started</a></li>
                        <li><a href="/downloads">Downloads</a></li>
						<li class="submenu">
							<a href="">Documentation</a>
							<ul>
								<li>
									<a href="/docs">
										General
									</a>
								</li>
								<li>
									<a href="/docs/architecture">
										Architecture
									</a>
								</li>
								<li class="submenu">
									<a href="/docs/apis">
										API reference
									</a>
									<ul>
										<li><a href="/docs/apis/restful">RESTful API</a></li>
										<li><a href="/docs/apis/websockets">WebSockets</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="https://github.com/OpServ-Monitoring/opserv-backend">GitHub</a></li>
					</ul>
				</nav>
			</header>