<style>
	#opservlogo {
		image-rendering: -moz-crisp-edges;         /* Firefox */
        image-rendering:   -o-crisp-edges;         /* Opera */
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */

	}
	#githublogo {
		color: black;	
	}
</style>

<header id="header">
	<h1>
	    <a href="/" id="home-ref">
		<img id="opservlogo" src="/favicon/favicon-196x196.png">
		<span>OpServ monitoring</span>
	    </a>
	</h1>

	<nav id="nav">
		<ul>
			<li><a href="/get-started">Get started</a></li>
			<li><a href="/downloads">Downloads</a></li>
			<li class="submenu">
				<a href="/docs">Documentation</a>
				<ul>
					<li><a href="/docs">Introduction</a></li>
					<li><a href="/docs/guide">User guide</a></li>
					<li><a href="/docs/architecture">System architecure</a></li>
					<li class="submenu">
						<a href="/docs/apis">API reference</a>
						<ul>
                					<li><a href="/docs/apis/restful/data/v1">RESTful data api 1.0</a></li>
            					</ul>
					</li>
					<li><a href="/docs/contribute">Contribute</a></li>
				</ul>
			</li>
			<li>
				<a href="https://github.com/OpServ-Monitoring/opserv-backend" target="_blank">
				<span id="githublogo" class="icon fa-github"></span>
				GitHub
				</a>
			</li>
		</ul>
	</nav>
</header>
