<header id="header">
				<h1 id="logo"><a href="/opserv-backend">OpServ monitoring <span>open source project</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/opserv-backend/get-started">Get started</a></li>
                        <li><a href="/opserv-backend/downloads">Downloads</a></li>
						<li class="submenu">
							<a href="">Documentation</a>
							<ul>
								<li>
									<a href="/opserv-backend/docs">
										General
									</a>
								</li>
								<li>
									<a href="/opserv-backend/docs/architecture">
										Architecture
									</a>
								</li>
								<li class="submenu">
									<a href="/opserv-backend/docs/apis">
										API reference
									</a>
									<ul>
										<li><a href="/opserv-backend/docs/apis/restful">RESTful API</a></li>
										<li><a href="/opserv-backend/docs/apis/websockets">WebSockets</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="https://github.com/OpServ-Monitoring/opserv-backend">GitHub</a></li>
					</ul>
				</nav>
			</header>