---
layout: doc-entry-rest-data-v1
---

{% assign endpoint = site.data.apis-rest-data-v1-endpoints[page.endpoint] %}

{% if endpoint %}
    {{ endpoint.description }}

    <h3>Requests</h3>

    {% if endpoint.requests %}
        {% for request in endpoint.requests %}
            <h4>{{ request.method }}</h4>

            {% if request.params %}
                <h5>Parameter</h5>

                <table>
                    <thead>
                    <tr>
                        <th style="text-align: center">key</th>
                        <th style="text-align: center">description</th>
                        <th>possible values</th>
                        <th>mandatory</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for param in <request class="params"></request> %}
                        <tr>
                            <td style="text-align: center">{{ param.key }}</td>
                            <td style="text-align: center">{{ param.description }}</td>
                            <td>{{ param.possible_values }}</td>
                            <td>{{ param.mandatory }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}


        {% endfor %}
    {% else %}
    <!-- ERROR -->
    An error occurred during loading.
    {% endif %}
{% else %}
    <!-- ERROR - no endpoint found -->
    An error occurred during loading.
{% endif %}






<br><br>

##### Request Header

|key|description|possible values|mandatory|default value|
|:---:|:-----:|---|---|---|
|realtime|A boolean indicating whether realtime data is wanted or not|"false" or 0 to retrieve historical data; "true" or 1 to retrieve realtime data|no|0|
|start|The start time expressed as millis since unix epoch|any positive integer|no|0|
|end|The end time expressed as millis since unix epoch|any positive integer, greater than start|no|[current time](https://currentmillis.com/)|
|limit|The maximum number of datapoints to return|any positive integer greater 0, passing anything greater than 5000 will result in a limit of 5000|no|50|
|unit|A string indicating whether the temperature should be expressed as celsius or fahrenheit|"c" or "celsius"; "f" or "fahrenheit"|no|"c"|

##### Request Body


##### Example


##### Response


##### error codes