---
layout: doc-entry-rest-data-v1
title: Test title
---

{% assign page.title = "Test title" %}
{% assign endpoint_identifier = page.path | remove: "docs/apis/restful/data/v1/" | remove: "/index.md" | replace: '/', '_' %}
{% assign endpoint = site.data.apis-rest-data-v1-endpoints[endpoint_identifier] %}

{% if endpoint %}
    {{ endpoint.description }}

    <h3>Requests</h3>

    {% if endpoint.requests %}
        {% for request in endpoint.requests %}
            <h4>{{ request.method }}</h4>

            {% if request.params %}
                <h5>Parameter</h5>

                <table>
                    <thead>
                    <tr>
                        <th style="text-align: center">key</th>
                        <th style="text-align: center">description</th>
                        <th>possible values</th>
                        <th>mandatory</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for param in request.params %}
                        <tr>
                            <td style="text-align: center">{{ param.key }}</td>
                            <td style="text-align: center">{{ param.description }}</td>
                            <td>{{ param.possible_values }}</td>
                            <td>{{ param.mandatory }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if request.request_header %}
                <h5>Request Header</h5>

                <table>
                    <thead>
                    <tr>
                        <th style="text-align: center">key</th>
                        <th style="text-align: center">description</th>
                        <th>possible values</th>
                        <th>mandatory</th>
                        <th>default value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for param in request.params %}
                        <tr>
                            <td style="text-align: center">{{ param.key }}</td>
                            <td style="text-align: center">{{ param.description }}</td>
                            <td>{{ param.possible_values }}</td>
                            <td>{{ param.mandatory }}</td>
                            <td>{{ params.default_value }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <h5>Request Body</h5>
            {% if request.request_body %}
                {{ request.request_body }}
            {% else %}
                - none -
            {% endif %}

            <h5>Examples</h5>
            {% if request.examples %}
                {% for example in request.examples %}
                    {{ example.uri }} <br> {{ example.explanation }}
                {% endfor %}
            {% else %}
                - none -
            {% endif %}

            <h5>Response</h5>
            {% if request.response %}
                {{ request.response }}
            {% else %}
                - none -
            {% endif %}

            <h5>error codes</h5>
            {% if request.error_codes %}
                {{ request.error_codes }}
            {% else %}
                - none -
            {% endif %}
        {% endfor %}
    {% else %}
    <!-- ERROR -->
    An error occurred during loading.
    {% endif %}
{% else %}
    <!-- ERROR - no endpoint found -->
    An error occurred during loading.
{% endif %}
